body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8ee7b89a;
}

.signup {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;    
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las columnas se envuelvan en pantallas más pequeñas */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

.image-container {
    margin-bottom: 20px;
}

#selected-image {
    max-width: 150px;
    border-radius: 50%;
}

.fields-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las columnas se envuelvan en pantallas más pequeñas */
    justify-content: center; /* Centrar los elementos horizontalmente */
}

.column {
    width: 40%; /* Reducir el ancho de la columna */
    margin: 0 25px; /* Agregar un pequeño margen entre las columnas */
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}

.field input {
    font-size: 16px;
    width: 100%;
}

.field input:focus {
    border-bottom: 2px solid #000000;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.signup-button,
.boton {
    padding: 10px 20px;
    background-color: #8ee7b7;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}

.signup-button:hover,
.boton:hover {
    background-color: #45a049;
}
