<!DOCTYPE html>
{% extends 'baseTrabajador.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nueva Oferta{% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css\trabajador\nuevaOferta.css' %}">
    {% endblock additional_styles %}
    {% block additional_scripts %}
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_scripts %}
</head>
<body>
    <main>
        {% block content %}
        <h2>Nueva Oferta</h2>

        <form method="post" enctype="multipart/form-data" class="formularioPersonalizado">
            <div class="contenedor">
                <div class="contenedorFormulario">
                    {% csrf_token %}
                    <div class="contenedorCampos">
                        <div class="campo">
                            <label for="{{ formulario.servicio.id_for_label }}" class="icono">
                                <i class="fa-solid fa-person-digging"></i>
                            </label>
                            <label>Servicio</label>
                            {{formulario.servicio}}
                            {% if formulario.servicio.errors %}
                                <p class="error">{{ formulario.servicio.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.disponibilidad.id_for_label }}" class="icono">
                                <i class="fa-solid fa-business-time"></i>
                            </label>
                            <label>Disponibilidad</label>
                            {{formulario.disponibilidad}}
                            {% if formulario.disponibilidad.errors %}
                                <p class="error">{{ formulario.disponibilidad.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.restricciones.id_for_label }}" class="icono">
                                <i class="fa-solid fa-circle-xmark" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Restricciones</label>
                            {{ formulario.restricciones }}
                            {% if formulario.restricciones.errors %}
                                <p class="error">{{ formulario.restricciones.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.lugar.id_for_label }}" class="icono">
                                <i class="fa-solid fa-location-dot" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Lugar</label>
                            {{ formulario.lugar }}
                            {% if formulario.lugar.errors %}
                                <p class="error">{{ formulario.lugar.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.precio.id_for_label }}" class="icono">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                            </label>
                            <label>Precio</label>
                            {{ formulario.precio }}
                            {% if formulario.precio.errors %}
                                <p class="error">{{ formulario.precio.errors }}</p>
                            {% endif %}
                        </div>
    

                        <div class="campo">
                            <label style="text-align: center;">¿La oferta se encuentra disponible?</label>
                            {{ formulario.sigue }}
                            {% if formulario.sigue.errors %}
                                <p class="error">{{ formulario.sigue.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            
                
            </div>
            <div class="crearOferta">
                <a id="botonCancelar" href="{% url 'verOfertas' %}">Regresar</a>
                <button type="submit" class="submit-button">Crear Oferta</button>
            </div>
        </form>
        {% endblock content %}
    </main>
</body>
</html>