<!DOCTYPE html>
{% extends 'baseEmpleador.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nueva Vacante{% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css\empleador\nuevaVacante.css' %}">
    {% endblock additional_styles %}
    {% block additional_scripts %}
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_scripts %}
</head>
<body>
    <main>
        {% block content %}
        <h2>Nueva Vacante</h2>

        <form method="post" enctype="multipart/form-data" class="formularioPersonalizado">
            <div class="contenedor">
                <div class="contenedorFormulario">
                    {% csrf_token %}
                    <div class="contenedorCampos">
                        <div class="campo">
                            <label for="{{ formulario.nombre.id_for_label }}" class="icono">
                                <i class="fa-solid fa-user"></i>
                            </label>
                            <label>Nombre</label>
                            {{formulario.nombre}}
                            {% if formulario.nombre.errors %}
                                <p class="error">{{ formulario.nombre.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.tiempo.id_for_label }}" class="icono">
                                <i class="fa-solid fa-business-time"></i>
                            </label>
                            <label>Duración</label>
                            {{formulario.tiempo}}
                            {% if formulario.tiempo.errors %}
                                <p class="error">{{ formulario.tiempo.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.ubicacion.id_for_label }}" class="icono">
                                <i class="fa-solid fa-location-dot"></i>
                            </label>
                            <label>Ubicación</label>
                            {{ formulario.ubicacion }}
                            {% if formulario.ubicacion.errors %}
                                <p class="error">{{ formulario.ubicacion.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.descripcion.id_for_label }}" class="icono">
                                <i class="fa-solid fa-book-medical" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Descripción</label>
                            {{ formulario.descripcion }}
                            {% if formulario.descripcion.errors %}
                                <p class="error">{{ formulario.descripcion.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.responsabilidades.id_for_label }}" class="icono">
                                <i class="fa-solid fa-user-check" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Responsabilidades</label>
                            {{ formulario.responsabilidades }}
                            {% if formulario.responsabilidades.errors %}
                                <p class="error">{{ formulario.responsabilidades.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.requisitos.id_for_label }}" class="icono">
                                <i class="fa-solid fa-check-double" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Requisitos</label>
                            {{ formulario.requisitos }}
                            {% if formulario.requisitos.errors %}
                                <p class="error">{{ formulario.requisitos.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.beneficios.id_for_label }}" class="icono">
                                <i class="fa-solid fa-school-circle-check" style="transform: translateY(-30px);"></i>
                            </label>
                            <label>Beneficios</label>
                            {{ formulario.beneficios }}
                            {% if formulario.beneficios.errors %}
                                <p class="error">{{ formulario.beneficios.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label for="{{ formulario.oferta.id_for_label }}" class="icono">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                            </label>
                            <label>Oferta</label>
                            {{ formulario.oferta }}
                            {% if formulario.oferta.errors %}
                                <p class="error">{{ formulario.oferta.errors }}</p>
                            {% endif %}
                        </div>

                        <div class="campo">
                            <label style="text-align: center;">¿La vacante se encuentra disponible?</label>
                            {{ formulario.disponibilidad }}
                            {% if formulario.disponibilidad.errors %}
                                <p class="error">{{ formulario.disponibilidad.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            
                
            </div>
            <div class="crearVacante">
                <a id="botonCancelar" href="{% url 'verVacantes' %}">Regresar</a>
                <button type="submit" class="submit-button">Crear Vacante</button>
            </div>
        </form>
        {% endblock content %}
    </main>
</body>
</html>