<!DOCTYPE html>

{% extends 'baseEmpleador.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Ofertas de Servicios {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\empleador\ofertasEmpleador.css' %}">
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_styles %}
</head>

<body>
   <main>
        {% block content %}

        <div class="titulo">
            <h2>Servicios Ofrecidos</h2>
        </div>


        <form action="" class="barraBusqueda">

            <div class="grupoBusqueda">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="controlFormulario" name="terminoBusqueda" placeholder="Buscar...">
            </div>

            <!-- Dropdown for the filters -->
            <div class="filtro">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                <select class="controlFormulario" name="filtroBusqueda">
                    <option value="todo">Todo</option>
                    <option value="servicio">Servicio</option>
                    <option value="disponibilidad">Disponibilidad</option>
                    <option value="lugar">Lugar</option>
                    <option value="precio">Precio</option>
                    <option value="trabajador">Trabajador</option>
                </select>
            </div>
            <button type="submit" class="btn">Buscar</button>
        </form>
        
        <div class="listaOfertas">
            {% for oferta in ofertas %}
            {% if oferta.sigue %}
            <div class="cartaOfertas" style="width: 25rem;">
                <img class="card-img-top" src="{{ oferta.trabajador.foto.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center; font-weight: bold;">{{ oferta.servicio }}</h5>
                    <p><strong>Ofrecido por: </strong> {{ oferta.trabajador.nombre }}</p>
                    <p><strong>Lugar: </strong> {{ oferta.lugar }} </p>
                    <p><strong>Precio: </strong> {{ oferta.precio }} </p>
                    <p><strong>Calificación: </strong></p>
                  <a href="{% url 'masInfo' ofertaID=oferta.id %}" class="btn btn-primary">Ver más</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
        </div>
        {% endblock content %}
    </main>
</body>
</html>