html {
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    margin: 0;
    background-color: rgba(86, 179, 129, 0.4);
}

h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #333; /* Color del texto */
}

.container {
    text-align: center;
    width: 600px;
    padding: 20px;
    background-color: #fff; /* Fondo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 5px;
}

.mensaje {
    font-size: 20px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: auto;
}

.column-container {
    width: 45%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555; /* Color del texto del label */
}

.star-rating {
    font-size: 25px;
    direction: rtl;
    align-items: center;
    border: 1px solid #8ee7b7;
    background-color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    width: fit-content;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
}

.star-rating input {
    display: none;
}

.star-rating label {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

.star-rating label:before {
    content: '\2605';
    color: #ddd;
}

.star-rating input:checked ~ label:before {
    color: #FFD700;
}

input[type="submit"],
#cancel-button {
    font-weight: bold;
    display: inline-block;
    background-color: #8ee7b7;
    color: #333; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

input[type="submit"]:hover,
#cancel-button:hover {
    background-color: #56b381;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .column-container {
        width: 100%;
    }

    .star-rating {
        width: 85%;
        margin: 0;
        font-size: 24px;
    }

    .star-rating label {
        margin: 0 2px;
    }
}
