<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Trabajador</title>
    <link rel="stylesheet" href="{% static 'css/cuenta/trabajador_signup.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    <div class="signup">
        <h1>Registrarse como Trabajador</h1>
        <form method="post" enctype="multipart/form-data" class="custom-form">
            <div class= "signup-container">
                {% csrf_token %}
                <div class= "image-container">
                    <img id="selected-image" src="{% static 'img/perfil.jpg' %}" alt="Selected Image">
                    <br>
                    {{form.foto}}
                </div>
                <div class= "form-container">
                <div class="fields-container">
                    <div class="column">
                        <div class="field">
                            <label>Nombre de Usuario:</label>
                            <input type="text" name="username" value="Isabela">
                        </div>
                
                        <div class="field">
                            <label>Correo Electrónico:</label>
                            <input type="email" name="email">
                        </div>
                
                        <div class="field">
                            <label>Contraseña:</label>
                            <input type="password" name="password1">
                        </div>
                
                        <div class="field">
                            <label>Confirmar Contraseña:</label>
                            <input type="password" name="password2">
                        </div>

                        <div class="field">
                            <label>Identificación:</label>
                            <input type="text" name="identificacion">
                        </div>

                        <div class="field">
                            <label>Fecha de Nacimiento:</label>
                            <input type="date" name="fecha_nacimiento">
                        </div>
                    </div>
                
                    <div class="column">              
                        <div class="field">
                            <label>Nombre:</label>
                            <input type="text" name="nombre">
                        </div>
                
                        <div class="field">
                            <label>Apellidos:</label>
                            <input type="text" name="apellidos">
                        </div>
                                
                        <div class="field">
                            <label>Celular:</label>
                            <input type="text" name="celular">
                        </div>

                        <div class="field">
                            <label>Habilidades:</label>
                            <input type="text" name="habilidades">
                        </div>   
                        
                        <div class="field">
                            <label>Experiencia:</label>
                            <input type="text" name="experiencia">
                        </div>

                    </div>
                </div>
            </div>    
                
            <div class="button-container">
                <a class="boton" href="{% url 'login' %}">Cancelar</a>
                <button type="submit" class="signup-button">Signup</button>
            </div>
        </form>
    </div>
</body>
</html>


